
.main-page {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  
}

/*  ------ Gallery styles ------- */

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 360px;
  height: 200px;
}

ul {
  list-style-type: none;
}

/*  ------ Form styles ------- */

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  gap: 8px;
  padding: 24px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.submit-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.submit-btn:hover {
  background: #6C8CFF;
}

input {
  height: 40px;
}
input:focus {
  border-color: #000;
}
textarea {
  resize: none;
  height: 80px;
}
